body {
    background: pink;
}

.newlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newlayout div {
    background: red;
    flex-shrink: 0;
    height: 50px;
    flex-basis: 100px;
    border: 2px solid black;
    margin: 10px;
}