* {
    margin: 0;
}
#parent {
    display: flex;
    background: pink;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#child {
    background: yellow;
    width: 200px;
    height: 200px;
    margin: 5px;
}