.parent{
    width: 400px;
}
h1{
    font-size: 16px;
    font-weight: normal; 
    background: blue;
    }

aside{
    width: 150px;
    height: 150px;
    background: red;
}

.blue {
    background: blue;
    display: inline;
}
.green{
    background: green;
    font-size: 32px;
    font-weight: bold;
    display: block;
}

#onlyp{
    font-size: 30px;
}


body{
    background: pink;
}